    <%# TODO move this to new view . Has nothing to do with measurements now %>
    <center style="background-color: #DBDADA;">
      <div id="drop_container" style="width: 800px; height: 410px; ">
      </div>
    </center>
<div class="row blue-stripe" >
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="#" class="btn btn-default btn-lg btn-block register-button">Register For Free</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h1>Put your diabetes under control</h1>
        <p>
          Maecenas tristique sit amet mauris ut dictum. Aenean nec velit molestie, pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. Etiam justo arcu, iaculis vel egestas faucibus, gravida a tortor. Sed ac massa quis nisl pulvinar posuere vel vitae libero. Ut aliquam eu diam vel cursus. Aliquam vehicula sapien et nisl rutrum gravida sed quis purus. Suspendisse enim ligula, rhoncus eu nulla non, pulvinar imperdiet arcu. Phasellus rutrum diam ipsum, consequat elementum ipsum molestie at. Vivamus erat odio, tempor vitae magna eget, sollicitudin ullamcorper arcu. Nulla ut venenatis tellus. Sed non lorem dignissim, lacinia libero ac, dictum lacus. Nullam gravida purus quis elit ultricies iaculis.
        </p>
        <p>
          Aenean nec velit molestie, pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. Etiam justo arcu, iaculis vel egestas faucibus, gravida a tortor. Sed ac massa quis nisl pulvinar posuere vel vitae libero. Ut aliquam eu diam vel cursus. Aliquam vehicula sapien et nisl
        </p>
        <p>
          Pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. Etiam justo arcu, iaculis vel egestas faucibus, gravida a tortor. Sed ac massa quis nisl pulvinar posuere vel vitae libero. Ut aliquam eu diam vel cursus. Aliquam vehicula sapien et nisl
        </p>
        <p>
          <b>
            Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. Etiam justo arcu, iaculis vel egestas faucibus, gravida a tortor. Sed ac massa quis nisl pulvinar posuere vel vitae libero. Ut aliquam eu diam vel cursus. Aliquam vehicula sapien et nisl
          </b>
        </p>
      </div>
      <div class="col-md-1">
        <%= image_tag 'separator.png', style:"margin-top:100px" %>
      </div>
      <div class="col-md-4">
        <h1>Everything is free</h1>
        <p>
          Maecenas tristique sit amet mauris ut dictum. Aenean nec velit molestie, pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. 
        </p>
        <h1>Open source project</h1>
        <p>
          This software is licensed under an Open Source Initiative approved license. Maecenas tristique sit amet mauris ut dictum. Aenean nec velit molestie, pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. 
        </p>
        <h2>Developers, developers</h2>
        <p>
          Maecenas tristique sit amet mauris ut dictum. <b>GPL License</b> Aenean nec velit molestie, pretium orci sit amet, finibus dui. Mauris sollicitudin placerat lacus, porta sollicitudin mi faucibus sit amet. Nulla a porta lorem, a vulputate libero. 
        </p>
      </div>
    </div>
  </div>
</div>

<%# TODO invastigate data turbolinks true %>
<%# TODO fore swiffy js to load avery time. It is not working when hitting back or clicking link (turbolinks?) %>
<%= javascript_include_tag "banner" %>
<script>
  
  var stage = new swiffy.Stage(document.getElementById('drop_container'),
      swiffy_drop, {  });
  stage.start();
</script>